body {
    background-color: #0e1117;
    color: #e5e7eb;
}

h1, h2, h3 {
    text-align: center;
}

.verdict {
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 20px;
}
